header{
	background : black;

    
}

#accesoP{
    
    
    color: white;
}


#acceso{
    
    
    color: #dbdbdb;
}

#acceso2{
    
    display: block;
    background-color: #dbdbdb;
}

#acceso2V{
    
    display: block;
    background-color: #dbdbdb;
}
#acceso3{
    
    display: block;
    background-color: #dbdbdb;
}



#acceso22{
    
    display: none;
    background-color: #dbdbdb;
}


#acceso23{
    
    display: none;
    background-color: #dbdbdb;
}
#encabezado{
    
   background-image : url(logo.jpg);
    background-size :cover;
    width: 50 px;
    height: 50 px;
    
}

body{
    
    background-color: #c3c6cc;
    
    
}

#nav{
    background-color: #dbdbdb;

}


#bla{
    
    color :#ba6062;
}

#letraUs{
    
    color: white;
    
}



.info{
 display:none;
 color: red;
 
}
.contenedor_input:hover .info{ display:block}

#contratos{
    
    float:left;
    
}


#comprobante{
    
    float:left;
    
     
}

#myModalFormularioUsuario{
    
    
    color: white;
    background-color: rgba(0,0,0,0.6);
}

#myModalFormularioTrabajador{
    
    
    color: white;
    background-color: rgba(0,0,0,0.6);
}

#myModalFormularioContratos{
    
    
    color: white;
    background-color: rgba(0,0,0,0.6);
}

#myModalFormularioComprobantes{
    
    
    color: white;
    background-color: rgba(0,0,0,0.6);
}


#myModalFormularioDevoluciones{
    
    
    color: white;
    background-color: rgba(0,0,0,0.6);
}


#myModalFormularioDarDeBaja{
    
    
    color: white;
    background-color: rgba(0,0,0,0.6);
}

#selee1{
    
    width: 257px;
    height: 30px;
    
}


#selee2{
    
    width: 235px;
    height: 30px;
}


#datepickerr{
    
    color:black;
    
    
}


#datepickerr2{
   color :black;
    
    
    
}



.overlay{      
 
 display: none; position: absolute; 
 top: 0%;  left: 0%;        


 width: 100%;  height: 100%; 
 background-color: lightgray;
 z-index:1; opacity:.70; 

 }   
 
 
 .popup {


 display: none; position: absolute;
 top: 10%; left: 25%;         width: 50%; 
 height: 50%; padding: 5px;    
 border: 5px solid lightgray; 
 background-color: white; z-index:2;  
	
}

#p{
    position: absolute;
   top: 1%;
   left: 10%;
   margin-top: -75px;
   margin-left: -75px;  
    
    
}


#mjsImpor{
    color:  #ffd633;
    
    
}

tr.invalid{box-shadow: 0 0 5px 1px red;}

