/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/05/2017, 05:58:16 PM
    Author     : slon
*/

.buscador{
     width: 200px;
  margin-left: auto;
  margin-right: auto;
    
}
.cuadro {
   width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  margin: 1rem;
}  *

#dirInput {
    padding-left: 15px;
    padding-right: 13px;
}

#direccion {
    z-index: auto;
}

#nacimiento {
    z-index: 1;
}

#userForm {
    margin-top: 3%;
    margin-bottom: 3%;
}

.btnMargin {
    margin-top: 2%;
    margin-bottom: 2%;
}

.panel-footer {
  text-align: center;
  background-color: #681212;
  color: lightgrey;
}

.pie {
    background-color: #990033;
    color: white;
}

.aum {
    font-size: 24px;
}

 #map {
    display: none;
    height: 300px;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
}


body{
    
    background-color: #c3c6cc;
    
    
}

 input.invalid {box-shadow: 0 0 5px 1px red;}